@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
*{
    font-family: "Outfit", sans-serif;
}


::-webkit-scrollbar{
    display: none;
}

.scroll-show::-webkit-scrollbar{
    display: block;
    width: 12px;
    background-color: rgb(213, 211, 211);
    border-radius: 7px;
}

.scroll-show::-webkit-scrollbar-thumb {
  background: #615fff;
  border-radius: 7px;
  border: 2px solid transparent;
  background-clip: content-box;
}
